@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');
body {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0px;
    padding: 0px;
    background-color: #0F0F0F;
    color: #FFFFFF;
    font-family: 'Inter';
    font-style: normal;
}

header {
    display: flex;
    flex-direction: column;
    align-items: center;
}

header h5 {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 29px;
    margin: 20px 0px 20px 0px;
    padding: 0px;
}

header button {
    font-family: 'Inter';
    font-weight: 700;
    font-size: 54px;
    cursor: pointer;
    color: #FFFFFF;
    background-color: #0F0F0F;
    border: 0px;
}

#botao {
    display: flex;
    flex-direction: column;
    align-items: center;
}

form {
    display: flex;
    flex-direction: column;

}

form input {
    width: 280px;
    margin-bottom: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #7F7F7F;
    border-radius: 25px;
    height: 25px;
}

form label{
    margin-bottom: 10px;
}

form h5{
    width: 280px;
}

form input[type="submit"]{
    width: 120px;
}
#provedor{
    width: 366px;
}

.submit{
    background-color: #8C77E0;
    color: white;
    border-radius: 25px;
    border: 0px;
    cursor: pointer;
    font-size: 33px;
    border: 5px 100px 5px 100px;
}

#entrar {
    width: 200px;
    height: 50px;
    justify-content: center;
}